In [1]:
import pandas as pd
import re
import json

In [2]:
with open('/Users/bilindhajer/BilindHajer.html', 'r') as f:
    htmlFile = f.read()
f.close()

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(htmlFile, 'html.parser')

In [4]:
def findStalkers(soup, contentKey = "InitialChatFriendsList"):
    for tag in soup.find_all('script'):
        print tag.contents
        stalkers = filter( lambda content: contentKey.lower() in content.lower(), tag.contents )
        if stalkers:
            return stalkers[0]

In [5]:
stalkerBlock = findStalkers(soup)

In [6]:
m = re.search('(?<=,list:).+?(?=])', stalkerBlock)

TypeError: expected string or buffer

In [16]:
stalkerIds = m.group().encode('ascii','ignore').replace("[","").replace('"',"").split(",")

In [17]:
import numpy as np

def getStalkerCreds(obj):
    idAndRank = obj.split("-")
    fId = idAndRank[0]
    
    rank = idAndRank[-1] if len(idAndRank) > 1 else ""
    return (fId,rank)

In [18]:
stalkerIdAndRanks = map(getStalkerCreds, stalkerIds)

In [19]:
stalkerIds = map( lambda (fId, rank): fId, stalkerIdAndRanks )

In [20]:
stalkerRanks = map( lambda (fId, rank): rank, stalkerIdAndRanks )

In [21]:
import pandas as pd
stalkerDf = pd.DataFrame({'stalkerIds' : stalkerIds, 'stalkerRanks': stalkerRanks})

In [22]:
stalkerDf.head()

   stalkerIds stalkerRanks
0   516881924            2
1   577585571            2
2  1113990472            2
3   592203656            2
4   507854573            2

In [23]:
stalkerCount = stalkerDf.groupby(["stalkerIds"]).apply(lambda group: len(group)).reset_index(name = "count")

In [24]:
finalStalkerDf = stalkerDf.merge(stalkerCount, how = "left", left_on = "stalkerIds", right_on = "stalkerIds")

In [25]:
finalStalkerDf.head()

   stalkerIds stalkerRanks  count
0   516881924            2      2
1   577585571            2      2
2  1113990472            2      2
3   592203656            2      2
4   507854573            2      2

In [26]:
profiles = re.search('(?<=,shortProfiles:).+?(?=}})', stalkerBlock).group().encode('ascii','ignore')

In [608]:
print profiles

{"516881924":{id:"516881924",name:"Ali Alaraji",firstName:"Ali",vanity:"ali.alaraji.9",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/13690705_10153885277836925_6444860153419814908_n.jpg?oh=aa3caa1bc655dcb894d5bdbc68ae4302&oe=5914BDF8",uri:"https://www.facebook.com/ali.alaraji.9",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Alaraji","Ali"],alternateName:"",is_nonfriend_messenger_contact:false},"577585571":{id:"577585571",name:"Khawaja Ahmad",firstName:"Khawaja",vanity:"khawajaahmad07",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/10291868_10153001112710572_6323637106102569664_n.jpg?oh=157dc8e88c2f9d16aa27f6362b76d260&oe=591EC584",uri:"https://www.facebook.com/khawajaahmad07",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Ahmad","Khawaja"],alternateName:"",is_nonfriend_messenger_contact:false},"776360028":{id:"776360028",name:"Yazan Moghrabi",firstName:"Yazan",vanity:"yazan.moghrabi",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/14462974_10157504548910029_4260929039428776798_n.jpg?oh=7367f01709f22a1c81f63a9788a74c99&oe=5903C40F",uri:"https://www.facebook.com/yazan.moghrabi",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Moghrabi","Yazan"],alternateName:"",is_nonfriend_messenger_contact:false},"1113990472":{id:"1113990472",name:"Sabaoon Sangar",firstName:"Sabaoon",vanity:"sabaoon.sangar",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c0.1.32.32/p32x32/15219649_10207684262720625_1646902589936455699_n.jpg?oh=ac8c777d4dbbb3f09d96b9efa18f8856&oe=591B0BB1",uri:"https://www.facebook.com/sabaoon.sangar",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Sangar","Sabaoon"],alternateName:"",is_nonfriend_messenger_contact:false},"592203656":{id:"592203656",name:"Amin Mohamoud",firstName:"Amin",vanity:"amin.mohamoud",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/10291055_10153405802543657_7811011275436946459_n.jpg?oh=28a3152bcf2b784787b689c397eb4497&oe=591EAD67",uri:"https://www.facebook.com/amin.mohamoud",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Mohamoud","Amin"],alternateName:"",is_nonfriend_messenger_contact:false},"504011056":{id:"504011056",name:"Ib Barbour",firstName:"Ib",vanity:"ibrahim.barbour.9",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c12.0.32.32/p32x32/1891216_10152837621321057_8866979579194830539_n.jpg?oh=1127d9f3905bf2dc93b25f5c4172c63a&oe=5901227B",uri:"https://www.facebook.com/ibrahim.barbour.9",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Barbour","Ib"],alternateName:"",is_nonfriend_messenger_contact:false},"884655270":{id:"884655270",name:"Daniela Arredondo",firstName:"Daniela",vanity:"daniela.arredondo.779",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c8.0.32.32/p32x32/10475461_10154363643790271_2672356155483715337_n.jpg?oh=4e2617f522824d39b68093e5650e46cb&oe=59072A5D",uri:"https://www.facebook.com/daniela.arredondo.779",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Arredondo","Daniela"],alternateName:"",is_nonfriend_messenger_contact:false},"22601225":{id:"22601225",name:"Bobby Sikri",firstName:"Bobby",vanity:"thedesiguy",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/12986920_10102666274701147_9119559922113353247_n.jpg?oh=e5838caa8bf6ec1c33ae944154107451&oe=592244FB",uri:"https://www.facebook.com/thedesiguy",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Sikri","Bobby"],alternateName:"",is_nonfriend_messenger_contact:false},"4931505":{id:"4931505",name:"Arcan Hajer",firstName:"Arcan",vanity:"arcan.hajer",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15590173_10106395803325710_4357915282478804041_n.jpg?oh=075df2512c7c253956c93e904166a009&oe=591BC57D",uri:"https://www.facebook.com/arcan.hajer",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Hajer","Arcan"],alternateName:"Arcan",is_nonfriend_messenger_contact:false},"1117050116":{id:"1117050116",name:"Amelia Davis",firstName:"Amelia",vanity:"millie.davis2",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15823376_10208160084015962_7113723292235595708_n.jpg?oh=d76263c57f3b0c56601aa5d31a2c25a1&oe=590F888A",uri:"https://www.facebook.com/millie.davis2",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Davis","Amelia"],alternateName:"Millie",is_nonfriend_messenger_contact:false},"767142081":{id:"767142081",name:"Kassim Ali",firstName:"Kassim",vanity:"kassim.ali",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/16142902_10154973199492082_7065049416504706681_n.jpg?oh=23905e6f338b120a743ce1aff5107d43&oe=5900230B",uri:"https://www.facebook.com/kassim.ali",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Ali","Kassim"],alternateName:"",is_nonfriend_messenger_contact:false},"579594128":{id:"579594128",name:"Amelia Ziadie Hajer",firstName:"Amelia",vanity:"aziadie",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15219643_10155629986359129_7872236132671022960_n.jpg?oh=324dbc9014d8732b7b34307a33d140c7&oe=5903D73B",uri:"https://www.facebook.com/aziadie",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Ziadie","Hajer","Amelia"],alternateName:"",is_nonfriend_messenger_contact:false},"506612810":{id:"506612810",name:"Nadia AlShammari",firstName:"Nadia",vanity:"nadia.alshammari.1",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/13612207_10153512889707811_8406147421963378805_n.jpg?oh=aca94600c8007698d8d5373530afb709&oe=59006FE0",uri:"https://www.facebook.com/nadia.alshammari.1",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["AlShammari","Nadia"],alternateName:"",is_nonfriend_messenger_contact:false},"1125300086":{id:"1125300086",name:"Katherine Rosenkranz",firstName:"Katherine",vanity:"rosenkranzkatherine",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15622493_10208168034414992_4799001753595378589_n.jpg?oh=c8fa3bf73bb652756561e523aa2dc82b&oe=591525E3",uri:"https://www.facebook.com/rosenkranzkatherine",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Rosenkranz","Katherine"],alternateName:"",is_nonfriend_messenger_contact:false},"1285489799":{id:"1285489799",name:"Ibraheem Katoot",firstName:"Ibraheem",vanity:"ibraheem.katoot",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/13238907_10209338319596729_1370059527664014857_n.jpg?oh=3cbcb5dac48c1969ce3001aed473ea69&oe=592327B8",uri:"https://www.facebook.com/ibraheem.katoot",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Katoot","Ibraheem"],alternateName:"Ibs",is_nonfriend_messenger_contact:false},"100001302900474":{id:"100001302900474",name:"Mustafa Kamoona",firstName:"Mustafa",vanity:"mkamoona",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c0.5.32.32/p32x32/15826881_1214640248589394_1189164293692962703_n.jpg?oh=8119f4a3d72e8ae35f43f54b39108c32&oe=59024BE9",uri:"https://www.facebook.com/mkamoona",gender:2,i18nGender:16777216,additionalName:"",type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Kamoona","Mustafa"],alternateName:"",is_nonfriend_messenger_contact:false},"1446168646":{id:"1446168646",name:"Tom Brander",firstName:"Tom",vanity:"tom.brander",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c0.5.32.32/p32x32/1796525_10203399954826677_1398303637_n.jpg?oh=f0c17d5ed4846b853cbe46d1a103181c&oe=591DF3B0",uri:"https://www.facebook.com/tom.brander",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Brander","Tom"],alternateName:"",is_nonfriend_messenger_contact:false},"583190186":{id:"583190186",name:"Mohammad Shabib",firstName:"Mohammad",vanity:"mhshabib",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c80.119.539.539/s32x32/943170_10152874709845187_2017823604_n.jpg?oh=e7a4d66b11b0ecf75e5487308c02a146&oe=59199BBD",uri:"https://www.facebook.com/mhshabib",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Shabib","Mohammad"],alternateName:"",is_nonfriend_messenger_contact:false},"100006729130380":{id:"100006729130380",name:"Nazar Moh'd",firstName:"Nazar",vanity:"nazar.mohamad.92",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15283936_1868973096670310_3825337059268822949_n.jpg?oh=73e7252b891f266697c3157d8d224f2d&oe=590F4638",uri:"https://www.facebook.com/nazar.mohamad.92",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Moh'd","Nazar"],alternateName:"",is_nonfriend_messenger_contact:false},"24702928":{id:"24702928",name:"Justine Williams",firstName:"Justine",vanity:"justinenwilliams",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/12019820_10100574546790668_2635242997699132016_n.jpg?oh=6a7be8a03a2dec4b7b5aee9d2b2b4f89&oe=591CD0BF",uri:"https://www.facebook.com/justinenwilliams",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Williams","Justine"],alternateName:"",is_nonfriend_messenger_contact:false},"1116270350":{id:"1116270350",name:"Lina Skandalakis",firstName:"Lina",vanity:"lina.anna",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/13254491_10205993199965189_5872806586232933564_n.jpg?oh=98f4e0977d51df3963fbc7f52eb9db67&oe=59023277",uri:"https://www.facebook.com/lina.anna",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Skandalakis","Lina"],alternateName:"",is_nonfriend_messenger_contact:false},"71107918":{id:"71107918",name:"Usman J",firstName:"Usman",vanity:"usmanja",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/12196319_10100813822081532_4805263574416874789_n.jpg?oh=a78892ea20f7669dffac5985ac93d006&oe=59099E7C",uri:"https://www.facebook.com/usmanja",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["J","Usman"],alternateName:"",is_nonfriend_messenger_contact:false},"71110352":{id:"71110352",name:"Massih Zaboli",firstName:"Massih",vanity:"massih.zaboli",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/10917096_10100578425877412_939716286842031302_n.jpg?oh=c97da46ddd6f7f93da83e16391a6798e&oe=591C6BA7",uri:"https://www.facebook.com/massih.zaboli",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Zaboli","Massih"],alternateName:"",is_nonfriend_messenger_contact:false},"696405136":{id:"696405136",name:"Abd Danun",firstName:"Abd",vanity:"hctibtikcus",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/14100459_10157277677920137_1445915293266878670_n.jpg?oh=8adede11dbdb1518446a0983ab074a5d&oe=58D6349E",uri:"https://www.facebook.com/hctibtikcus",gender:2,i18nGender:16777216,type:"friend",is_friend:true,is_birthday:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Danun","Abd"],alternateName:"",is_nonfriend_messenger_contact:false},"22600024":{id:"22600024",name:"Misha Herr",firstName:"Misha",vanity:"mistermisha",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c123.0.315.315/s32x32/162920_776776132467_1249612_n.jpg?oh=77cd718dfa7faad9b2585061e6dd2821&oe=5901BCAE",uri:"https://www.facebook.com/mistermisha",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Herr","Misha"],alternateName:"",is_nonfriend_messenger_contact:false},"708290653":{id:"708290653",name:"Mouadh Xidouri",firstName:"Mouadh",vanity:"R0ad.Runner",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/13512224_10157002196180654_8585509431983979181_n.jpg?oh=6686952bec6c8658e3febbd762ff80bd&oe=591C7839",uri:"https://www.facebook.com/R0ad.Runner",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Xidouri","Mouadh"],alternateName:"",is_nonfriend_messenger_contact:false},"1362259076":{id:"1362259076",name:"David L Porter Jr.",firstName:"David",vanity:"djdavegetwitit",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15780980_10211944364148773_494611633218939837_n.jpg?oh=f90d311b48571b7239f221859d746dfd&oe=591EC308",uri:"https://www.facebook.com/djdavegetwitit",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Porter","Jr.","David"],alternateName:"",is_nonfriend_messenger_contact:false},"630626895":{id:"630626895",name:"Abira Ahmad",firstName:"Abira",vanity:"abira.ahmad.1",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15589625_10154300009191896_5854661087443332784_n.jpg?oh=e680011caabc9934ba040bbcbbc322e2&oe=590DAEB3",uri:"https://www.facebook.com/abira.ahmad.1",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Ahmad","Abira"],alternateName:"",is_nonfriend_messenger_contact:false},"505483134":{id:"505483134",name:"Nicole Silvera",firstName:"Nicole",vanity:"nicole.silvera.7",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/10450556_10154010374588135_5117830892035094031_n.jpg?oh=768735391da0287507ddafe473a87c7e&oe=591B1A93",uri:"https://www.facebook.com/nicole.silvera.7",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Silvera","Nicole"],alternateName:"",is_nonfriend_messenger_contact:false},"100002235354151":{id:"100002235354151",name:"Ramzi Ismail Sirdah",firstName:"Ramzi",vanity:"rsirdah",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15826052_1207729575978209_265259957691914923_n.jpg?oh=cc2f710559e198aec55b44adeaefc368&oe=59198B70",uri:"https://www.facebook.com/rsirdah",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Sirdah","Ramzi"],alternateName:"",is_nonfriend_messenger_contact:false},"512272850":{id:"512272850",name:"Norah Abokhodair",firstName:"Norah",vanity:"norahak",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/13428001_10153924517182851_5614908133959745011_n.jpg?oh=eb866ec801bf081a0edbde3f1ad141c2&oe=591283A6",uri:"https://www.facebook.com/norahak",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Abokhodair","Norah"],alternateName:"",is_nonfriend_messenger_contact:false},"1123680003":{id:"1123680003",name:"Abdul-Rehman Maher",firstName:"Abdul-Rehman",vanity:"abdulrehman.maher",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/15726816_10208731915631616_1333927060134078000_n.jpg?oh=cc427446c9f5ed0ed119e4ad38980397&oe=58D5BA36",uri:"https://www.facebook.com/abdulrehman.maher",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Maher","Abdul-Rehman"],alternateName:"",is_nonfriend_messenger_contact:false},"71107651":{id:"71107651",name:"Assim Addous",firstName:"Assim",vanity:"assim.addous",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/14898416_10101088338947532_2062332604941245860_n.jpg?oh=8750e7396a2a06a095575b08fd679711&oe=592315E4",uri:"https://www.facebook.com/assim.addous",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Addous","Assim"],alternateName:"",is_nonfriend_messenger_contact:false},"1119870443":{id:"1119870443",name:"Mahdi Roshid",firstName:"Mahdi",vanity:"MadH1",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c0.0.32.32/p32x32/13776037_3235804290213_5754576245111344085_n.jpg?oh=3020531cebcfb7d62aa9f0076eb642dd&oe=5921B24C",uri:"https://www.facebook.com/MadH1",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Roshid","Mahdi"],alternateName:"",is_nonfriend_messenger_contact:false},"1313628847":{id:"1313628847",name:"Berhane Sium",firstName:"Berhane",vanity:"berhane.sium",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/16143255_10211924135641452_5626335989000311054_n.jpg?oh=df441e7a646a8eb5ed2ce895a1b77403&oe=58D810F8",uri:"https://www.facebook.com/berhane.sium",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Sium","Berhane"],alternateName:"",is_nonfriend_messenger_contact:false},"1397854367":{id:"1397854367",name:"Abdullah Al Khaled Shimul",firstName:"Abdullah",vanity:"abdullah.shimul",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/11391773_10207368556037617_2144435757195947523_n.jpg?oh=fc866dca70eb269e8b3e0fdd98236931&oe=5922AE4B",uri:"https://www.facebook.com/abdullah.shimul",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Shimul","Abdullah"],alternateName:"",is_nonfriend_messenger_contact:false},"1119871093":{id:"1119871093",name:"Paul Chakrabarty",firstName:"Paul",vanity:"paul.chakrabarty",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/16114622_3456308962692_6493445585096368012_n.jpg?oh=6e49105507e9ae94d7d900e38251c9c4&oe=59211FA5",uri:"https://www.facebook.com/paul.chakrabarty",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Chakrabarty","Paul"],alternateName:"Debapriya",is_nonfriend_messenger_contact:false},"1119870796":{id:"1119870796",name:"Blend Sairany",firstName:"Blend",vanity:"blender365",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/16105483_3457285267099_3512169506160864071_n.jpg?oh=4255f049f3c0749d058f43ad0555dee8&oe=59149660",uri:"https://www.facebook.com/blender365",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Sairany","Blend"],alternateName:"",is_nonfriend_messenger_contact:false},"661918172":{id:"661918172",name:"Tawfeek Elsaqa",firstName:"Tawfeek",vanity:"tawfeek.elsaqa",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p32x32/12345651_10153497299603173_5921239304506055022_n.jpg?oh=1b2f3cc29117d45c7b566fdf4d834335&oe=58D6B085",uri:"https://www.facebook.com/tawfeek.elsaqa",gender:2,i18nGender:16777216,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Elsaqa","Tawfeek"],alternateName:"",is_nonfriend_messenger_contact:false},"1016126106":{id:"1016126106",name:"Michael Fost",firstName:"Michael",vanity:"michael.fost",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c5.0.32.32/p32x32/14731294_10209601182839167_2247456774456776079_n.jpg?oh=3e394478902590d5e68db98408c23f16&oe=5910FA1E",uri:"https://www.facebook.com/michael.fost",gender:7,i18nGender:50331648,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Fost","Michael"],alternateName:"",is_nonfriend_messenger_contact:false

In [27]:
profiles2 =  re.findall('(?<=:){.+?(?<=})', profiles)

In [28]:
print profiles2[6]

{id:"884655270",name:"Daniela Arredondo",firstName:"Daniela",vanity:"daniela.arredondo.779",thumbSrc:"https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c8.0.32.32/p32x32/10475461_10154363643790271_2672356155483715337_n.jpg?oh=4e2617f522824d39b68093e5650e46cb&oe=59072A5D",uri:"https://www.facebook.com/daniela.arredondo.779",gender:1,i18nGender:33554432,type:"friend",is_friend:true,mThumbSrcSmall:null,mThumbSrcLarge:null,dir:null,searchTokens:["Arredondo","Daniela"],alternateName:"",is_nonfriend_messenger_contact:false}

In [29]:
def loadJsonStr(profile):
    profile = profile.encode('ascii','ignore')
    
    j = re.sub(r"{\s*'?(\w)", r'{"\1', profile)
    j = re.sub(r",\s*'?(\w)", r',"\1', j)
    j = re.sub(r"(\w)'?\s*:(?!/)", r'\1":', j)
    j = re.sub(r":\s*'(\w+)'\s*([,}])", r':"\1"\2', j) 
    j = re.sub(r",\s*]", "]", j)
    
    return json.loads(j)

In [30]:
profiles3 =  map(loadJsonStr, profiles2)
keys = profiles3[-1].keys()

In [31]:
dictForDf = dict( map( lambda keyName: (str(keyName), map(lambda x: x[str(keyName)], profiles3)), keys ) )

In [32]:
profilesDf = pd.DataFrame(dictForDf)

In [33]:
profilesDf[]

SyntaxError: invalid syntax (<ipython-input-33-f9ffa585af04>, line 1)

In [34]:
finalDF = finalStalkerDf.merge(profilesDf, how = "left", left_on = "stalkerIds", right_on = "id")

In [35]:
finalDF.drop(["dir", "mThumbSrcLarge","mThumbSrcSmall"], inplace = True, axis = 1)

In [36]:
finalDF.head()

,stalkerIds,stalkerRanks,count,alternateName,firstName,gender,i18nGender,id,is_friend,is_nonfriend_messenger_contact,name,searchTokens,thumbSrc,type,uri,vanity
0,516881924,2,2,,Ali,2.0,16777216.0,516881924,True,False,Ali Alaraji,"[Alaraji, Ali]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/ali.alaraji.9,ali.alaraji.9
1,577585571,2,2,,Khawaja,2.0,16777216.0,577585571,True,False,Khawaja Ahmad,"[Ahmad, Khawaja]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/khawajaahmad07,khawajaahmad07
2,1113990472,2,2,,Sabaoon,2.0,16777216.0,1113990472,True,False,Sabaoon Sangar,"[Sangar, Sabaoon]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/sabaoon.sangar,sabaoon.sangar
3,592203656,2,2,,Amin,2.0,16777216.0,592203656,True,False,Amin Mohamoud,"[Mohamoud, Amin]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/amin.mohamoud,amin.mohamoud
4,507854573,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [792]:
df = finalDF.replace(['',None], np.nan, axis = 0)

In [799]:
df.head()

,stalkerIds,stalkerRanks,count,alternateName,firstName,gender,i18nGender,id,is_friend,is_nonfriend_messenger_contact,name,searchTokens,thumbSrc,type,uri,vanity
0,516881924,2,2,NaN,Ali,2.0,16777216.0,516881924,True,False,Ali Alaraji,"[Alaraji, Ali]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/ali.alaraji.9,ali.alaraji.9
1,577585571,2,2,NaN,Khawaja,2.0,16777216.0,577585571,True,False,Khawaja Ahmad,"[Ahmad, Khawaja]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/khawajaahmad07,khawajaahmad07
2,1113990472,2,2,NaN,Sabaoon,2.0,16777216.0,1113990472,True,False,Sabaoon Sangar,"[Sangar, Sabaoon]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/sabaoon.sangar,sabaoon.sangar
3,592203656,2,2,NaN,Amin,2.0,16777216.0,592203656,True,False,Amin Mohamoud,"[Mohamoud, Amin]",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/amin.mohamoud,amin.mohamoud
4,507854573,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [880]:
finalDF[finalDF.columns] = finalDF[finalDF.columns].astype(str)

In [864]:
finalDF.replace(['','NaN','nan', float('NaN')], np.nan, axis = 0, inplace = True)

In [872]:
df

,stalkerIds,stalkerRanks,count,alternateName,firstName,gender,i18nGender,id,is_friend,is_nonfriend_messenger_contact,name,searchTokens,thumbSrc,type,uri,vanity
0,516881924,2,2,nan,Ali,2.0,16777216.0,516881924,True,False,Ali Alaraji,"[u'Alaraji', u'Ali']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/ali.alaraji.9,ali.alaraji.9
1,577585571,2,2,nan,Khawaja,2.0,16777216.0,577585571,True,False,Khawaja Ahmad,"[u'Ahmad', u'Khawaja']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/khawajaahmad07,khawajaahmad07
2,1113990472,2,2,nan,Sabaoon,2.0,16777216.0,1113990472,True,False,Sabaoon Sangar,"[u'Sangar', u'Sabaoon']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/sabaoon.sangar,sabaoon.sangar
3,592203656,2,2,nan,Amin,2.0,16777216.0,592203656,True,False,Amin Mohamoud,"[u'Mohamoud', u'Amin']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/amin.mohamoud,amin.mohamoud
4,507854573,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,776360028,2,2,nan,Yazan,2.0,16777216.0,776360028,True,False,Yazan Moghrabi,"[u'Moghrabi', u'Yazan']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/yazan.moghrabi,yazan.moghrabi
6,504011056,2,2,nan,Ib,2.0,16777216.0,504011056,True,False,Ib Barbour,"[u'Barbour', u'Ib']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/ibrahim.barbour.9,ibrahim.barbour.9
7,708290653,2,2,nan,Mouadh,2.0,16777216.0,708290653,True,False,Mouadh Xidouri,"[u'Xidouri', u'Mouadh']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/R0ad.Runner,R0ad.Runner
8,100008029517033,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9,100006729130380,2,2,nan,Nazar,2.0,16777216.0,100006729130380,True,False,Nazar Moh'd,"[u""Moh'd"", u'Nazar']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/nazar.mohamad.92,nazar.mohamad.92
10,579594128,2,2,nan,Amelia,1.0,33554432.0,579594128,True,False,Amelia Ziadie Hajer,"[u'Ziadie', u'Hajer', u'Amelia']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/aziadie,aziadie
11,100005942104843,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
12,516881924,0,2,nan,Ali,2.0,16777216.0,516881924,True,False,Ali Alaraji,"[u'Alaraji', u'Ali']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/ali.alaraji.9,ali.alaraji.9
13,22601225,2,2,nan,Bobby,2.0,16777216.0,22601225,True,False,Bobby Sikri,"[u'Sikri', u'Bobby']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/thedesiguy,thedesiguy
14,100007816008571,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
15,884655270,2,2,nan,Daniela,1.0,33554432.0,884655270,True,False,Daniela Arredondo,"[u'Arredondo', u'Daniela']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/daniela.arredondo.779,daniela.arredondo.779
16,100009495768692,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
17,648156327,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,100007916201700,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
19,1169653459,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
20,100000565000141,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
21,24702928,2,2,nan,Justine,1.0,33554432.0,24702928,True,False,Justine Williams,"[u'Williams', u'Justine']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/justinenwilliams,justinenwilliams
22,754184733,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
23,4918181,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
24,675320045,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
25,583190186,2,2,nan,Mohammad,2.0,16777216.0,583190186,True,False,Mohammad Shabib,"[u'Shabib', u'Mohammad']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/mhshabib,mhshabib
26,1121221601,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
27,1125300086,2,2,nan,Katherine,1.0,33554432.0,1125300086,True,False,Katherine Rosenkranz,"[u'Rosenkranz', u'Katherine']",https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/...,friend,https://www.facebook.com/rosenkranzkatherine,rosenkranzkatherine
28,100006553533865,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
29,849000724,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,734375634,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
573,100002369415399,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
574,1199666136,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
575,509144579,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
576,1082187512,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
577,536090518,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
578,22613414,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
579,100001786895164,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
580,100003654400328,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
581,4946305,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
582,100006193156762,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
583,100001808458655,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
584,513024025,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
585,599680662,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
586,100000565000141,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
587,1137511016,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
588,553641793,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
589,100000260633496,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
590,616786409,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
591,1516043560,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
592,517220710,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
593,100003289270812,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
594,620759752,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
595,100003480417419,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
596,734218997,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
597,1118520109,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
598,100007916201700,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
599,75402808,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
600,1773657475,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
601,100000608022617,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [875]:
finalDF.replace(['NaN','nan', float('NaN')], np.nan, axis = 0, inplace = True)

In [881]:
finalDF[ finalDF.name == 'nan' ]

,stalkerIds,stalkerRanks,count,alternateName,firstName,gender,i18nGender,id,is_friend,is_nonfriend_messenger_contact,name,searchTokens,thumbSrc,type,uri,vanity
4,507854573,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8,100008029517033,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
11,100005942104843,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14,100007816008571,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
16,100009495768692,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
17,648156327,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,100007916201700,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
19,1169653459,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
20,100000565000141,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
22,754184733,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
23,4918181,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
24,675320045,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
26,1121221601,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
28,100006553533865,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
29,849000724,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
30,100000602456810,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
31,100005373167760,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32,1019258090,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
36,1119870743,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37,532557918,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
38,705221234,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
39,1119870292,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
40,100001835356813,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
41,641234337,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
42,501006582,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
43,33008934,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
45,100003289270812,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
46,515600801,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
47,100003654400328,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
48,1016126106,2,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,734375634,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
573,100002369415399,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
574,1199666136,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
575,509144579,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
576,1082187512,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
577,536090518,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
578,22613414,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
579,100001786895164,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
580,100003654400328,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
581,4946305,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
582,100006193156762,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
583,100001808458655,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
584,513024025,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
585,599680662,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
586,100000565000141,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
587,1137511016,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
588,553641793,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
589,100000260633496,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
590,616786409,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
591,1516043560,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
592,517220710,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
593,100003289270812,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
594,620759752,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
595,100003480417419,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
596,734218997,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
597,1118520109,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
598,100007916201700,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
599,75402808,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
600,1773657475,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
601,100000608022617,0,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [66]:
def findMissingName(obj):
    name = obj[1]
    
    if name:
        profileId = obj[0]
        html = urlopen("https://www.facebook.com/{}".format(profileId)).read()
        
        soup = BeautifulSoup(html, 'html.parser')
        nameTag = findStalkers(soup, "name")
        name = re.search('(?<="name":).+?(?=,)', nameTag)
        return str(name.group()).replace('"',"")
    
    return name

In [67]:
from urllib2 import urlopen

In [70]:
findMissingName(pd.Series(["521025612","nan"]))

'Jin W Kim'

In [ ]:
html = urlopen("https://www.facebook.com/516881924").read()

In [ ]:
print html

In [ ]:
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
nameTag = findStalkers(soup, "name")

In [ ]:
m = re.search('(?<="name":).+?(?=",)', nameTag)

In [ ]:
print type(str(m.group()))

In [ ]:
if finalDF["dir"].tolist()[4]:
    print "hello"

In [ ]:
df = finalDF.replace(, np.nan, axis = 0)
df.head()

In [40]:
df[ df['dir'] == np.nan ]

NameError: name 'df' is not defined

In [41]:
finalDF[finalDF.isnull()] = np.nan

In [42]:
finalDF[ df['dir'] == np.nan ]

NameError: name 'df' is not defined

In [43]:
finalDF["someTest"] = finalDF[['stalkerIds',"count"]].apply( lambda row: row[0] + row[1], axis = 1)

TypeError: ("cannot concatenate 'str' and 'int' objects", u'occurred at index 0')

In [44]:
finalDF.someTest.head()

AttributeError: 'DataFrame' object has no attribute 'someTest'