# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [4]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [5]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [7]:
data.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [8]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [9]:
data.shape

(153, 6)

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [10]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [13]:
data.shape

(153, 6)

How many missing values are in the Ozone column of this data frame?

In [15]:
data.count()

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [16]:
data.describe()

/Users/leelewis/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%           NaN         NaN    7.400000   72.000000    6.000000    8.000000
50%           NaN         NaN    9.700000   79.000000    7.000000   16.000000
75%           NaN         NaN   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [26]:
df = data[(data['Ozone'] > 31 )& (data['Temp'] > 90)] 
df.describe()

            Ozone     Solar.R       Wind       Temp      Month        Day
count   10.000000   10.000000  10.000000  10.000000  10.000000  10.000000
mean    89.500000  212.800000   5.600000  93.400000   8.200000  14.500000
std     13.360389   36.039485   2.107131   1.897367   0.788811  13.159281
min     73.000000  167.000000   2.300000  91.000000   7.000000   1.000000
25%     79.500000  188.250000   4.725000  92.000000   8.000000   3.250000
50%     88.000000  200.000000   6.000000  93.000000   8.000000   8.500000
75%     96.750000  234.000000   6.300000  94.000000   9.000000  28.750000
max    118.000000  272.000000   9.700000  97.000000   9.000000  31.000000

What is the mean of "Temp" when "Month" is equal to 6?

In [29]:
!pip install numpy

Requirement already satisfied: numpy in /Users/leelewis/anaconda/lib/python2.7/site-packages

In [32]:
df2 = data[data['Month'] == 6]
df2.describe()

           Ozone     Solar.R       Wind       Temp  Month        Day
count   9.000000   30.000000  30.000000  30.000000   30.0  30.000000
mean   29.444444  190.166667  10.266667  79.100000    6.0  15.500000
std    18.207904   92.882975   3.769234   6.598589    0.0   8.803408
min    12.000000   31.000000   1.700000  65.000000    6.0   1.000000
25%          NaN  127.000000   8.000000  76.000000    6.0   8.250000
50%          NaN  188.500000   9.700000  78.000000    6.0  15.500000
75%          NaN  270.750000  11.500000  82.750000    6.0  22.750000
max    71.000000  332.000000  20.700000  93.000000    6.0  30.000000

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [33]:
df3 = data[data['Month'] == 6]
df3.describe()

           Ozone     Solar.R       Wind       Temp  Month        Day
count   9.000000   30.000000  30.000000  30.000000   30.0  30.000000
mean   29.444444  190.166667  10.266667  79.100000    6.0  15.500000
std    18.207904   92.882975   3.769234   6.598589    0.0   8.803408
min    12.000000   31.000000   1.700000  65.000000    6.0   1.000000
25%          NaN  127.000000   8.000000  76.000000    6.0   8.250000
50%          NaN  188.500000   9.700000  78.000000    6.0  15.500000
75%          NaN  270.750000  11.500000  82.750000    6.0  22.750000
max    71.000000  332.000000  20.700000  93.000000    6.0  30.000000

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas